@media (max-width: 1100px) {
    .img{
        width: 550px;
    }
    .overlay_img{
        left: - 13.5%;
    }
}

@media (max-width: 750px){
   .img{ display: none;
        width: 610px;height: 200px;
    }
        .overlay_img{
        display: none;
    }
    .trailhive {
        div{
        text-align: center;
        justify-content: center;}
        flex-wrap: wrap;
        p{margin-top: 20px;}
    }

    .korba {div{
        text-align: center;
        justify-content: center;}
    div{margin: 0px;}
        p{
        margin-top: 20px;
    }
    div{ max-width: 750px;}
    }

.main_inner {
 h1{
    font-size: 42px;
 }
}
.awards_list-item{
    gap: 0px;
    justify-content: center;
    p{font-size: 20px;}
        svg{
        display: none;
    }
    text-align: center;
}
.awards{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.works-list{
    flex-wrap: wrap;
    gap: 40px;
}
.footer_text-main{
    font-size: 42px;
}
.footer-up{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.works-list_card{justify-content: center;
text-align: center;
h3{
    margin-bottom: 24px;
}
}
.card_buttons{
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.header_list{
    display: none;
}

.header{
    justify-content: space-between;
    white-space: nowrap;
}
.header_btn{
    img{display: none;}
}
@media (max-width: 400px){.header{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 8px;
}}
.header_btn{
    img{display: none;}
    padding: 10px 54px;
}
}
