:root {
    --lavender: #E9DEFF;
    --deep: #0B001A;
    --pure: #FFFFFF;
    --royal: #1E0044;
    --midnight: #170034;
    --urban: hsl(27, 6%, 32%);
    --monsterrat: "Montserrat";
    --georgia: 'Georgia';
}