
.awards_list-item{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    max-width: 715px;
    cursor: pointer;
    p{
        font-family: var(--monsterrat);
        font-weight: 500;
        font-size: 22px;
        line-height: 35.2px;
        color: var(--deep);
        max-width: 600px;
    }
    div{
        font-family: var(--monsterrat);
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: var(--deep);
    }

    svg{
        margin-top: 7px;
    }
}

.awards{
    margin: 40px 0px 40px 0px;
    background-color: var(--lavender);
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    border-radius: 20px;
    font-family: var(--monsterrat);
    gap: 24px;
    h3{
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -2%;
        font-weight: 500;
        color: var(--deep);
    }
}

.awards_list{
    li{
        border-top: 1px solid var(--midnight);
    }
    section{
        margin-right: 393px;
    }
    p{
        width: 500px
    }
    svg{
        margin-left:-200px; 
    }
}
.awards_list-item-last{
    border-bottom: 1px solid var(--midnight);
    border-top: 1px solid var(--midnight);
}