
 .korba{
            font-family: var(--monsterrat);
            color: var(--deep);
    display: flex;
    border-radius: 40px;
    padding: 40px;
    margin-top: 60px;
    background: url(/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 24px ;
    img{
          max-width: none;
  
  min-width: auto;
  min-height: auto;
  
  height: 100%;
  height: auto;
    }
    div{
        text-align: right;
        max-width: 400px;
        margin: 0px 0px 0px auto;
    }
    p{
        margin-top: 230px;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        font-family: var(--monsterrat);
        margin-bottom: 32px;
    }
    h2{
        font-size: 50px;
        font-weight: 500;
        letter-spacing: -2%;
        margin-bottom: 16px;
                font-family: var(--monsterrat);

    }
    a{
        border: solid 1px var(--deep);
        padding: 6px 12px;
        border-radius: 19px;
        color: var(--deep);
    }
    
    .korba_small-text{
     margin-top: 0px;
    line-height: 100%;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    font-family: var(--monsterrat);
    margin-top: 0px;
 }
 }


 .kobra_buttons{
    margin-bottom: 230px;
    display: flex;
    justify-content: end;
    gap: 8px;
    flex-wrap: wrap;
 }


 .kobra_but-down{
    background-color: var(--lavender);
    box-shadow: 0 0 3px 0 rgba(162, 45, 247, 0.1), 0 0 7px 0 rgba(162, 45, 247, 0.1), 0 0 13px 0 rgba(162, 45, 247, 0.1), 0 0 25px 0 rgba(162, 45, 247, 0.1), 0 0 47px 0 rgba(162, 45, 247, 0.1), 0 0 19px 9px rgba(162, 45, 247, 0.1);
    padding-left: 10px;
 }

