 .trailhive{
            font-family: var(--monsterrat);
            color:  var(--lavender);
    display: flex;
    position: relative;
    border-radius: 40px;
    gap: 24px;
    padding: 40px;
    margin-top: 60px;
    background: url(/images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;

    .img{
  max-width: none;
  max-height: auto;
  
  min-width: auto;
  min-height: auto;
  
  height: 100%;

    }
    div{
        text-align: left;
        margin: 0px auto 0px 0px;
    }
    p{  
        margin-top: 230px;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        font-family: var(--monsterrat);
        margin-bottom: 32px;
    }
    h2{
        font-size: 50px;
        font-weight: 500;
        letter-spacing: -2%;
        margin-bottom: 16px;
                font-family: var(--monsterrat);

    }
    a{
        border: solid 1px var(--lavender);
        padding: 6px 12px;
        border-radius: 19px;
        color: var(--lavender);
        background-color: var(--royal);
    }
    .trailhive_small-text{
    margin-top: 0px;
    line-height: 100%;
    margin-bottom: 16px;
 }

 .trailhive_imgs{
    position: relative;
    margin-left: 0px auto 0px 0px;
 }

 }

 .overlay_img {
  position: absolute; 
  top: 10%;              
  left: -11%;             
  z-index: 1000;       
  width: auto;         
  height: 150px;    

}

 .trailhive_buttons{
    display: flex;
    justify-content: left;
    gap: 8px;
    flex-wrap: wrap;
 }


 .trailhive_but-down{
    border: solid 2px #9766d8;
    background-color: var(--royal);
    box-shadow: 0 0 3px 0 rgba(162, 45, 247, 0.1), 0 0 7px 0 rgba(162, 45, 247, 0.1), 0 0 13px 0 rgba(162, 45, 247, 0.1), 0 0 25px 0 rgba(162, 45, 247, 0.1), 0 0 47px 0 rgba(162, 45, 247, 0.1), 0 0 19px 9px rgba(162, 45, 247, 0.1);
    border-radius: 20px;
    padding-left: 10px;
}